.sidebar {
  position: relative;
  height: 100%;
  width: 300px;
  padding: var(--mantine-spacing-md);
  background-color: #e5e6e7;
  padding-top: 110px;

  @media screen and (max-width: $mantine-breakpoint-md) {
    width: 280px;
  }

  @media screen and (max-width: $mantine-breakpoint-sm) {
    width: 200px;
    padding-top: 95px;
  }

  @media screen and (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }

  @media print {
    width: 200px;
    padding-top: 80px;
  }
}

.banner {
  background-color: #323b4c;
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-lg);

  @media screen and (max-width: $mantine-breakpoint-xs) {
    min-height: 250px;

    & > div {
      flex-direction: column;
      padding: var(--mantine-spacing-lg);
    }
  }
}

.bannerPlaceholder {
  width: 30%;
  max-width: 300px;

  @media print {
    width: 180px;
  }
}

.bannerContent {
  @media screen and (max-width: $mantine-breakpoint-xs) {
    & > h1, & > h2 {
      text-align: center;
    }
  }

  @media screen and (max-width: 443px) {
    & > h1 {
      font-size: 2.5rem;
    }
  }

  @media print {
    & > h1 {
      font-size: 2.5rem;
    }
  }
}


.avatarWrapper {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  height: 180px;
  width: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;

  @media screen and (max-width: $mantine-breakpoint-sm) {
    height: 150px;
    width: 150px;
    top: -75px;
  }

  @media print {
    height: 120px;
    width: 120px;
    top: -60px;
  }
}

.avatarImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.experienceSummaryItem {
  padding-right: 20px;
}

.printBtn {
  @media print {
    display: none;
  }
}
