.sidebar {
  position: relative;
  height: 100%;
  width: 300px;
  padding: var(--mantine-spacing-md);
  background-color: #e4e4e4;
  padding-top: 110px;
}

.banner {
  background-color: #323b4c;
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-lg);
}

.languageIcon {
  background-color: #323b4c;
  margin-right: var(--mantine-spacing-sm);
}

.avatarWrapper {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  height: 180px;
  width: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
}

.avatarImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.experienceSummaryItem {
  padding-right: 20px;
}

.spoilerControl {
  background-color: #fff;
  width: 100%;

  &:hover {
    background-color: var(--mantine-color-blue-light-hover);
  }

  &[aria-expanded='false'] {
    box-shadow: 0 -14px 12px 0px #fff;
  }
}

